{% extends 'base_templates/base.html' %}
{% block title %} Collections {% endblock title %}

{% block css %}
{% load static %}
<style>
    .card {
        margin: 1rem; /* Adjust the margin to control spacing between cards */
    }

    .fixed-height-card {
        height: 400px; /* Set your desired fixed height */
        overflow: hidden;
    }

    .fixed-height-card .card-img-top {
        height: 200px; /* Set your desired fixed height for the image */
        object-fit: cover; /* Ensure the image covers the div */
    }

    .fixed-height-card .card-body {
        height: 200px; /* Adjust this value as needed */
        overflow-y: auto; /* Allows scrolling if content overflows */
    }

    .card-img-top {
        transition: all 0.5s ease; /* Smooth transition */
        filter: grayscale(10%);
    }

    .card-img-top:hover {
        transform: scale(1.1);
        filter: grayscale(0);
    }

    a {
        text-decoration: none;
        color: black;
    }

    /* Custom CSS for row spanning */
    .row-span {
        grid-row: span 2;
    }
</style>
{% endblock css %}

{% block body %}
<h1>Collection Page</h1>
<h2>This is a H2 TAG</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 border-bottom mb-5">Categories</div>
        {% include 'base_templates/message.html' %}
        <div class="row d-flex flex-wrap">
            {% for item in item %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <a href="{% url 'collections_view' item.name %}">
                    <div class="card fixed-height-card">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="Collection Images">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}
