{% extends 'base_templates/base.html' %}
{% block title %} E-Commerce{% endblock title %}


{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static './css/index.css' %}">

{% endblock %}

{% block body %}
{% include 'base_templates/slider.html' %}

<!-- to Display Trending Products -->
<div class="col-12 latest-heading">Trending products</div>

<div class="container-fluid trending-collection">
    <div class="row">
        {% for item in products %}
        <div class=" col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-1">
            <a href="{% url 'product_details' item.category.name item.name %}" class="text-decoration-none">
                <div class="card fixed-height-card shadow-sm">
                    <img src="{{item.product_image.url}}" class="card-img-top" alt="Collection Images">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{item.name}}</h5>
                        <p class="card-text float-start text-muted original_price"><i class="fa fa-inr"></i>
                            <s>{{item.original_price | stringformat:'d'}}</s>
                        </p>
                        <!-- | stringformat:'d' to remove decimal points -->
                        <p class="card-text float-end text-dark selling_price"><i class="fa fa-inr"></i>
                            {{item.selling_price | stringformat:'d'}}</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Trending Offer products -->
<div class="latest-heading">Max Offers for Laptops</div>

<div class="product-slider-container">
    <!-- <button class="slider-button left" onclick="slideLeft()">&#10094;</button> -->
    <div class="product-slider" id="productSlider">
        {% for product in trending_laptops %}
        <div class="product-card">
            <a href="{% url 'product_details' product.category.name product.name %}" class="product-cards">
                <img src="{{ product.product_image.url }}" alt="{{ product.name }}">
                <h5>{{ product.name }}</h5>
                <p><b>Selling Price:</b> <span id="selling_price"> {{ product.selling_price }}</span></p>
                <p><b>Original Price:</b><span id="original_price"> {{ product.original_price }}</span></p>
                <p>{{ product.description|truncatewords:10 }}</p>
        </div>
        {% endfor %}
    </div>
    <!-- <button class="slider-button right" onclick="slideRight()">&#10095;</button> -->
</div>




{% endblock body %}

{% if request.user.is_authenticated %}
<script>
    alert("Welcome back, {{ request.user.username }}!");
</script>


{% endif %}